<%= render "shared/reddit" %>

<header>
  <div class="header-content">
    <a href="/"><h1 class="small"></h1></a>

    <ul>
      <li><a href="/">HOME</a></li>
      <li><a href="/map">MAP OF REQUESTS</a></li>
      <li><a href="/requested-articles">REQUESTED ARTICLES</a></li>
      <li><a href="/downloaded-articles">DOWNLOADED ARTICLES</a></li>
      <li><a class="active" href="#">DOWNLOADS</a></li>
      <li><a class="last" href="/credits">CREDITS</a></li>
    </ul>
  </div>
</header>

<main class="files" role="main">
  <h2>Download our base dataset</h2>

  <ul>
    <li><%= link_to 'Twitter dataset (JSON)', 'twitter.json', download: 'twitter.json' %></li>
    <li><%= link_to 'Reddit dataset (JSON)', 'reddit.json', download: 'reddit.json' %></li>
  </ul>

  <div class="clear"></div>
</main>

<!-- fixing conflicts between charts -->
<!-- sorry we dont have time to refactor it -->
<%= javascript_include_tag "https://www.amcharts.com/lib/3/amcharts.js" %>
<%= javascript_include_tag "https://www.amcharts.com/lib/3/ammap.js" %>
<%= javascript_include_tag "https://www.amcharts.com/lib/3/maps/js/worldLow.js" %>
<%= javascript_include_tag "https://www.amcharts.com/lib/3/pie.js" %>
<%= javascript_include_tag "https://www.amcharts.com/lib/3/serial.js" %>
<%= javascript_include_tag "https://www.amcharts.com/lib/3/plugins/export/export.min.js" %>
